export VPCS_USER_SHELL="$(which zsh || which bash || which sh)"
#!$VPCS_USER_SHELL
export NOERR="2>/dev/null"
export APP_ROOT="$(pwd)"
export VPCS_ROOT="${APP_ROOT}/.vpcs"
chmod -R 755 "$VPCS_ROOT/bin"
export PATH="$VPCS_ROOT/bin:$PATH"
[[ -z "$VPCS_ENV" ]] && export VPCS_ENV="development"
# Ensure we source all setups defined for the local env
chmod -R 755 "$APP_ROOT/.env"
find $APP_ROOT/.env -name "*.profile" -exec {} \;
[[ -f "$(locate "env")/defaults.env" ]] && source "$(locate "env")/defaults.env"

