
# Common =================================================
.idea

# Backend ================================================
/backend/.idea
/backend/.encore
/backend/encore.gen.go
/backend/encore.gen.cue
/backend/node_modules
/backend/encore.gen
/backend/package-lock.json
/backend/src/**/*.js

# Frontend ================================================
/frontend_legacy/.idea
/frontend_legacy/.nx/installation
/frontend_legacy/.nx/cache
/frontend_legacy/.nx/workspace-data
/frontend_legacy/node_modules
/frontend_legacy/dist
/frontend_legacy/build
/frontend_legacy/.next
/frontend_legacy/out
/frontend_legacy/apps/groupon_admin/.env.local
.nx
.next
